/*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

.tituloinicio{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*color: #861927;*/
  color: #BD9500;
  word-spacing: 1em;
  font-size: 4.5vw;
}
.subtexto{
  font-size: 1.75vw;
  letter-spacing: 3em;
}
@media (max-width:600px){
  .subtexto{
    font-size: 2.75vw;
    letter-spacing: 2.5em;
  }
  .tituloinicio{
    word-spacing: 1em;
    font-size: 5.5vw;
  }
}

.fondo{
  font-family: "Poppins", sans-serif;
  min-height: 100vh;

  width: 100%;
  height: 100vh;
  /*background: url(../img/EDNywv4XsAA8NVJ.jpg);*/
  background: linear-gradient(to right, #000000bf 10%, /*#20282F*/ black), url(../img/carmen-img-fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  display: flex;
  align-items: center;
  justify-content: center;

}

.navigation {
  position: fixed;
  width: 60px;
  height: 100%;
  background: #d0d1c9;
  overflow: hidden;
  transition: 0.5s;
  animation: appearFromLeft 1s ease-in-out forwards;
  z-index: 100;
  left: 0;
}

.navigation:hover,
.navigation.active {
  width: 450px;
}

.navigation.active ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: #20282F;
  list-style-type: none;
  padding-top: 20px;
}

.navigation ul{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: #20282F;
  list-style-type: none;
  padding-top: 20px;

  display: none;
  
}
.navigation:hover ul {
  animation: appearFromLeft 0.5s ease-in-out forwards;
}
.navigation.active ul {
  animation: appearFromLeft 0.5s ease-in-out forwards;
}
@keyframes appearFromLeft {
  0% {
    opacity: 0;
    transform: translatex(-100%);
  }

  100% {
    opacity: 1;
    transform: translatex(0%);
  }
}

.navigation:hover ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: #000000;
  list-style-type: none;
  padding-top: 20px;
  visibility: visible;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #20282F;
  transition: .3s;
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 10px;
}
.navigation ul li a span {
  transition: .3s;
}

.navigation>ul>li>a>span:hover {
  transform: scale(1.25);
  /*color: #BD9500;*/
  /*color: #E6353C;*/
  color: #861927;
}
.navigation>ul>li>a>img:hover {
  transform: scale(1.075);
  /*color: #D0A200;*/
}

.navigation ul li a img {
  margin-bottom: 65px;
  width: 180px;
  height: auto;
  transition: .4s;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

.navigation .flecha img {
  width: 1.5vw;
  height: auto;
}
@media (width > 1100px) and (width < 1500px){
  .fondo .navigation .flecha img {
    width: 2.25vw;
    height: auto;
  }
}

.navigation .flecha {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: right 0.6s;
  margin-right: 10px;
}

.navigation .flecha img {
  transition: 0.5s;
}
.navigation:hover .flecha img {
  transform: rotate(180deg);
}

/*------------RESPONSIVE--------------*/
@media (min-width:900px) {
  .navigation:hover{
    width: none;
  }
}

@media (max-width:1150px) {
  .navigation:hover{
    width: none;
  }
}

@media (max-width:900px) {
  .navigation .flecha img {
    width: 7vw;
    height: auto;
  }
}


@media (max-width:1280px) {
  .navigation .flecha img {
    width: 5vw;
    height: auto;
  }
}


@media (width>750px) and (width<1150px){
  .navigation {
    left: 0px;
    width: 25px;
  }

  .navigation.active {
    left: 0px;
    width: 45%;
  }

  .toggle {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: #d0d1c9;
    cursor: pointer;
    transition: 0.7s;
    animation: appearFromLeft 1s ease-in-out forwards;
    z-index: 100;
  }

  .toggle.active {
    /*background:#BD9500;*/
    background: #861927;

  }

  .toggle::before {
    /*content: "\f0c9";*/
    content: "\f105";
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 45px;
    color: #861927;

    right: 0;
    top: 50%;
  }

  .toggle.active::before {
    /*content: "\f00d";*/
    content: "\f104";
    font-size: 45px;
    color: #d0d1c9;
  }

  .navigation .flecha {
    display: none;
  }
}


@media (max-width: 750px) {

  .navigation ul li a {
    margin-bottom: 0px;
  }

  .navigation {
    left: 0px;
    width: 25px;
  }

  .navigation.active {
    left: 0px;
    width: 100%;
  }

  .toggle {
    position: fixed;
    top: 0;
    left: 0;
    width: 28px;
    height: 100%;
    background: #d0d1c9;
    cursor: pointer;
    transition: 0.7s;
    animation: appearFromLeft 1s ease-in-out forwards;
    z-index: 100;
  }

  .toggle.active {
    /*background:#BD9500;*/
    background: #861927;
  }

  .toggle::before {
    /*content: "\f0c9";*/
    content: "\f105";
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    color: #861927;

    right: 0;
    top: 50%;
  }

  .toggle.active::before {
    content: "\f104";
    font-size: 30px;
    color: #d0d1c9;
  }

  .navigation .flecha {
    display: none;
  }
}